.container-lg{
    height: 100vh;
    padding: 0;

}


.main{
    display: flex;
    height: 100vh;
    width: 100%;
    
}

.left{
   width: 50%;
     padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 5rem;
    padding-left: 5rem;

}

.nav{
display: flex;
width: 100%;
color: #000;
font-family: Roboto;
font-size: 22px;
font-style: normal;
font-weight: 300;
line-height: normal;
align-self: flex-start;
gap: 3px;
}

.photos{
    display: flex;
    gap: 3px;
    align-items: center;
}

.heading{
display: flex;
}

.heading > p{
color: #000;
font-family: Roboto;
font-size: 2rem;
font-style: normal;
font-weight: 700;
}

.shoper{
    display: flex;
    padding: 0;
    
}

.shoper > p{
color: var(--cold-grey-40, #9A9EA5);
font-family: Roboto;
font-size: 1rem;
font-style: normal;
font-weight: 400;
}

.last-button{
    display: flex;

}
.btn-primary{ 
display: flex;
width: 160px;
height: 45px;
font-size:;
padding:  2px;
justify-content: center;
align-items: center;
border-radius: 30px;
background: linear-gradient(90deg, #92EBF1 0%, #86FDE8 100%);
color: #000000;
border: none;
}
.right{
    display: flex;
    width: 50%;
    background-color: #ABDADC;
    justify-content: center;

}

@media screen and (min-width: 300px) and (max-width: 951px){

    .main{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;
    
    }

    .heading > p{
        font-size: 1rem;
    }

    .left{
        display: flex;
        width: 100%;
    }

    .right{
        width: 100%;
        justify-content: center;
    }

    .right> img{
        width: 300px;
        height: 200px;
    }

}

@media screen and (min-width: 951px) and (max-width: 851px){

    .main{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;
    
    }

    .left{
        display: flex;
        width: 100%;
    }

    .right{
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .right> img{
        width: 300px;
        height: 200px;
    }

}


@media screen and (min-width: 851px) and (max-width: 699px){

    .main{
        display: flex;
        align-items: center;
        gap: 5rem;
    
    
    }

    .left{
        display: flex;
        width: 100%;
        justify-content: center;

    }

    .right{
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .right> img{
        width: 300px;
        height: 200px;
    }

}


@media screen and (min-width: 443px) and (max-width: 428px){

    .main{
        gap: 2.5rem;
        padding-top: 2rem;
    }
}

@media screen and (min-width: 300px) and (max-width: 404px){

    .main{
        margin-top: 0%;
        padding-top: 0%;
    }

    .right{
        display: flex;
        justify-content: center;
    }

    .left{
      
    }
    .shoper > p{
        font-size: 0.5rem;
    }

    .btn-primary{ 
        display: flex;
        width: 100%;
        height: 22px;
        padding: 1px;
    }
}