.container-lg{
    height: 100vh;
    padding: 0;

}


.main{
    display: flex;
    height: 100vh;
    width: 100%;
    
}

.left{
   width: 50%;
   height: 99vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 5rem;
    padding-left: 5rem;

}

.nav{
display: flex;
width: 100%;
color: #000;
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 300;
line-height: normal;
align-self: flex-start;
gap: 3px;
}

.photos{
    display: flex;
    gap: 3px;
    align-items: center;
}

.heading{
display: flex;
}

.heading > p{
color: #000;
font-family: Roboto;
font-size: 1rem;
font-style: normal;
font-weight: 700;
}

.shoper{
    display: flex;
    padding: 0;
}

.shoper > p{
color: var(--cold-grey-40, #9A9EA5);
font-family: Roboto;
font-size: 0.4rem;
font-style: normal;
font-weight: 400;
}

.last-button{
    display: flex;

}
.btn-primary{ 
display: flex;
width: 100px;
height: 25px;
font-size: 0.6rem;
padding:  2px;
justify-content: center;
align-items: center;
border-radius: 30px;
background: linear-gradient(90deg, #92EBF1 0%, #86FDE8 100%);
color: #000000;
border: none;
}
.right{
    display: flex;
    width: 50%;
    background-color: #ABDADC;
    height: 99vh;

}

@media screen and (min-width: 315px) and (max-width: 546px){

    .main{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    
    }

    .left{
        display: flex;
        width: 100%;
    }

    .right{
        width: 100%;
        justify-content: center;
    }

    .right> img{
        width: 300px;
        height: 300px;
    }

}